body{
    background-color: #ddd;
    color: #222;
    font-family: Helvetica;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.kanisa{
    position: relative;
    margin: 30px auto;
    overflow: hidden;
}
.buttonsec button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: o;
    margin: 10px;
}

.content{
    padding: 10px;
}

.kichwa{
    margin: 0;
    padding: 0;
}
